.container{
width: 700px;
height: 300px;
}
.image{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    border: 4px solid gray;
    top: 130px;
    left: 40px;
    background-color: white;

}
.header{
    height: 80px;
    background-color: rgb(12, 196, 196);
}

.main{
padding: 20px;
border-left: 3px solid rgb(183, 180, 180);
border-right: 3px solid rgb(183, 180, 180);
border-bottom: 3px solid rgb(183, 180, 180);
}

.icon{
    height: 20px;
}

.main h3, .main p .main h1{
    margin: 20px 0px;
}


